@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/static/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/static/OpenSans-ExtraBold.ttf");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/static/OpenSans-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:url("../../assets/img/Fundo.jpg") ;
}

.titulo {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px black;
}

.container, .container2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.opcaoBtn, .submenuBtn {
      background: rgb(232, 245, 233, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 4px 12px rgba(0,100,0,0.15);
    width: px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.opcaoBtn:hover, .submenuBtn:hover {
    background: #1ea344;
}

.hidden {
    display: none;
}

/* Formulário de mensagem */
.formBox {
    background: rgb(232, 245, 233, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 4px 12px rgba(0,100,0,0.15);
    width: 20px auto;
    text-align: center;
}

.formBox label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.formBox input,
.formBox select,
.formBox textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid #aaa;
    font-size: 15px;
}

.formBox textarea {
    height: 120px;
}

.btn {
    background: #007bff;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

.sucesso {
    margin-top: 15px;
    color: #000000;
    font-weight: bold;
}

.voltarBtn {
      background: rgb(232, 245, 233, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 4px 12px rgba(0,100,0,0.15);
    width: px;
    text-align: center;
    border: none;
    width: 200px;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
    font-size: 16px;
}

.voltarBtn:hover {
    background: #1ea344;
}