@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/static/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/static/OpenSans-ExtraBold.ttf");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/static/OpenSans-Light.ttf");
    font-weight: lighter;
    font-style: normal;
}

body {
    background: url("../../assets/img/Fundo.jpg") no-repeat center center fixed;
   


}

body {
    text-align: center;
}

.titulo {
      display: block;
    width: fit-content;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #0e5c0045;
    color: #000000;
    border: 1px soli #7fff86;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}

.btn, .voltarBtn, .voltarIndex {
        background: rgb(232, 245, 233, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 15px;
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 4px 12px rgba(0,100,0,0.15);
    margin: 10px auto;
    display: block;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover,
.voltarBtn:hover,
.voltarIndex:hover {
    background: #7fff86;
}

.hidden {
    display: none;
}

#chatContainer, #menuResponsavel, #escolherEtapa {
      background: #0056b34d;
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

#chatMessage {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    resize: none;
}

.success-message {
    margin-top: 15px;
    color: green;
    font-weight: bold;
}